body {
    font-family: Arial, sans-serif;
    text-align: center;
}


/* Cabeçalho */
#header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    position: relative;
}


#header.red {
    background-color: #dc3545;
}


#header .alert-symbol {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* Estações */
#stations {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.station {
    width: 20%;
    position: relative;
}


.station .alert-symbol {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}


/* Separação visual entre linhas */
.line-item {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    border: 5px solid #000000;
    width: 90%;
    padding: 10px;
    background-color: #28a745;
}


.line-item.red {
    background-color: #dc3545;
}


/* Botões e campos de texto */
.line-item button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #28a745;
    color: white;
    border: 2px solid #0069d9;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}


.line-item input {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
}


textarea.auto-expand {
    width: 100%;
    min-height: 30px; /* Altura mínima */
    max-height: 200px; /* Altura máxima */
    resize: none; /* Impede o redimensionamento manual pelo usuário */
    overflow: hidden; /* Remove a barra de rolagem */
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}


.fixed-message {
    border: 12 solid #ccc;
    padding: 5px;
    background-color: #f9f9f9;
    width: 200px; /* Ajuste conforme necessário */
    height: 44px; /* Ajuste para ocupar duas linhas */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


button.pressed {
    background-color: rgb(151, 38, 38);
}